body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0 auto;
  padding-top: 6.25rem;
  font-size: 5rem;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

h2,
h3 {
  font-weight: bold;
  line-height: 2;
  color: #66bfbf;
  font-size: 2rem;
  /* font-family: "Merriweather", serif; */
}

p {
  line-height: 2;
  font-family: "Merriweather", serif;
  /* margin: auto; */
  /* color: #1b2021; */
}

hr {
  border-style: dotted none none;
  border-width: 0.5rem;
  margin: 5rem auto;
  color: #bccddf;
  width: 5%;
}

.bio {
  width: 30%;
  margin: auto;
}

.middle-container p {
  color: #1b2021;
  font-weight: bold;
  /* width: 30%; */
  /* margin: 0 auto; */
}
/* BUG: Font thickness of H2 is not changing.. */
.middle-container h2 {
  font-weight: 900;
  font-size: 3rem;
  margin: 1rem auto;
}

.top-container {
  background-color: #edffec;
  margin-top: 0;
  position: relative;
}

#cld-top {
  position: absolute;
  bottom: 35rem;
  right: 25rem;
}

#cld-bot {
  position: absolute;
  right: 55rem;
}

#pro {
  text-decoration: underline;
}

#profile-pic {
  /* height: 12.5rem; */
  /* width: 9.375rem; */
  border-radius: 50%;
}
