body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0 auto;
  padding-top: 6.25rem;
  font-size: 5rem;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

h2,
h3 {
  font-weight: bold;
  line-height: 2;
  color: #66bfbf;
  font-size: 2rem;
  text-align: center;
  /* font-family: "Merriweather", serif; */
}

p {
  line-height: 2;
  font-family: "Merriweather", serif;
  /* margin: auto; */
  /* color: #1b2021; */
}

hr {
  border-style: dotted none none;
  border-width: 0.5rem;
  margin: 5rem auto;
  color: #bccddf;
  width: 5%;
}

.bio {
  width: 30%;
  margin: auto;
}

.middle-container p {
  color: #1b2021;
  font-weight: bold;
  margin: 0 auto;
  /* width: 30%; */
  /* margin: 0 auto; */
}
/* BUG: Font thickness of H2 is not changing.. */
.middle-container h2 {
  font-weight: 900;
  font-size: 3rem;
  margin: auto;
  /* display: inline-block; */
}

.middle-container h3 {
  color: #11999e;
}

.top-container {
  background-color: #edffec;
  margin-top: 0;
  position: relative;
}

.skill-row {
  width: 50%;
  text-align: left;
  margin: auto;
}

.row-1 {
  margin-bottom: 6.25rem;
}

.skill-row h3 {
  margin: 0 auto;
}

.skills h2,
h3 {
  margin-bottom: 4rem;
}

.intro {
  line-height: 2;
}

.cmp-img {
  width: 25%;
  float: left;
  margin: 100 auto;
  margin-right: 30px;
}

.cp-img {
  width: 25%;
  float: right;
  margin: 100 auto;
  margin-right: 30px;
}

.contact-me {
  width: 50%;
  margin: auto;
}

.contact-me h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.bottom-container {
  background-color: #66bfbf;
  text-align: center;
  /* margin-top: 6rem; */
  padding-top: 6rem;
}

.bottom-container p {
  margin: 0 auto;
  color: #eaf6f6;
}

.footer-link {
  position: relative;
  bottom: 3rem;
  /* margin-top: 100px; */
  padding-right: 50px;
  color: #e84545;
  text-decoration: none;
}

#cld-top {
  position: absolute;
  bottom: 35rem;
  right: 25rem;
}

#cld-bot {
  position: absolute;
  right: 55rem;
}

#pro {
  text-decoration: underline;
}

#profile-pic {
  /* height: 12.5rem; */
  /* width: 9.375rem; */
  border-radius: 50%;
}

.button {
  background: #3d94f6;
  background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -webkit-gradient(to bottom, #3d94f6, #1e62d0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #abcae3;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 100;
  padding: 6px;
  -webkit-box-shadow: 0 0 0 0 #000000;
  -moz-box-shadow: 0 0 0 0 #000000;
  box-shadow: 0 0 0 0 #000000;
  text-shadow: 0 1px 0 #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 50px auto;
}

.button:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
