body {
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
    background-color: #151515;
    /* background-color: #d3e0ea; */
}

h1 {
    /* font-family: 'Sacramento', cursive; */
    font-family: 'Dancing Script', cursive;
    margin: 3.125rem auto 0 auto;
    /* font-size: 562.5% */
    font-size: 5.625rem; /* 1em = 100% */
    color: #66BFBF;
}

h2 {
    font-family: sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    /* margin: auto; */
    text-align: center;
}

h3 {
    font-size: 2.3125rem;
    font-family: 'Montserrat', sans-serif;
    /* color: #11999E; */
    /* color: #a7c5eb; */
    color: #d3e0ea;
    margin: 0;
}

a {
    color: #11999E;
}

p {
    /* * font-family: 'Source Sans Pro', sans-serif; *
    * font-family: 'Noto Sans JP', sans-serif; * */
    font-family: sans-serif;
    /* color: #b4a5a5; */
    color: #276678;
}

.pic {
    height: 150px;
    width: 140px;
    border-radius: 100%;
}

.container {
    /* background-color: #7eca9c; */
    /* background-color: #E4F9F5; */
    position: relative;
    padding-top: 100px;
}

.und {
    text-decoration: underline;
    font-style: oblique;
}

.top-cld {
    position: absolute;
    right: 400px;
    top: 50px;
}

.bot-cld {
    position: absolute;
    left: 500px;
    bottom: 300px;
}

.dots {
    border-style: dotted none none;
    border-color: gray;
    border-width: 15px;
    width: 5%;
    height: 0;
    margin: 50px auto 50px auto;
}

.cp {
    width: 45%;
    float: right;
    height: 15.2rem;
    margin-left: 30px;
    position: relative;
    top: 5px;
    border-radius: 8px;
}

.skill-row {
    width: 70%;
    margin: 4.25rem auto 4.25rem auto;
    /* padding: 100px; */
    text-align: left;
    line-height: 2;
}

.comp {
    height: 16rem;
    margin-right: 30px;
    float: left;
    width: 35%;
    position: relative;
    bottom: 4.2rem;
    border-radius: 8px;
}
